<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    ############################################
    # Redirect non-www ke www
    ############################################
    RewriteCond %{HTTP_HOST} ^floorpolishing\.sg$ [NC]
    RewriteRule ^(.*)$ https://www.floorpolishing.sg/$1 [L,R=301]

    ############################################
    # Handle Authorization Header
    ############################################
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    ############################################
    # Remove trailing slash
    ############################################
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    ############################################
    # Redirect Old Service URLs
    ############################################
    RewriteRule ^marble/?$ https://www.floorpolishing.sg/services/marble-polishing [R=301,L]
    RewriteRule ^granite/?$ https://www.floorpolishing.sg/services/granite-polishing [R=301,L]
    RewriteRule ^parquet/?$ https://www.floorpolishing.sg/services/parquet-polishing [R=301,L]
    RewriteRule ^terrazzo/?$ https://www.floorpolishing.sg/services/terrazzo-polishing [R=301,L]

    ############################################
    # Laravel Front Controller
    ############################################
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

############################################
# Browser Cache (Improve SEO / Speed)
############################################
<IfModule mod_expires.c>
    ExpiresActive On

    # Images
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"

    # CSS & JS
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"

    # Fonts
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
    ExpiresByType application/font-woff2 "access plus 1 year"

    # HTML
    ExpiresByType text/html "access plus 1 hour"
</IfModule>

<IfModule mod_headers.c>
    Header append Cache-Control "public"
</IfModule>
